<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Eventos - Agradecimento</title>
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body class="bg-gray-100">
    <header class="bg-blue-700 text-white p-6 text-center">
      <h1 class="text-3xl font-bold">Bem vindo a Evento+</h1>
      <p class="mt-2">Organizando momentos inesquecíveis para você!</p>
      <div class="my-3">
        <a class="text-lg hover:underline mx-2" href="http://localhost:3000"
          >Home</a
        >
        <a
          class="text-lg hover:underline mx-2"
          href="http://localhost:3000/servicos"
          >Serviços</a
        >
        <a
          class="text-lg hover:underline mx-2"
          href="http://localhost:3000/contato"
          >Contato</a
        >
        <a
          class="text-lg hover:underline mx-2"
          href="http://localhost:3000/portfolio"
          >Portfólio</a
        >
      </div>
    </header>

    <section class="text-center mt-8 mb-12">
      <h2 class="text-3xl font-bold text-brand-azul mb-4">Eventos+</h2>
    </section>

    <div class="min-h-[80vh] grid w-[75%] mx-auto text-center px-4">
      <div
        class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition flex flex-col justify-center h-60"
      >
        <div class="flex w-full justify-center items-center gap-2">
          <i
            data-lucide="mail-check"
            class="w-10 h-10 text-brand-dourado mb-4"
          ></i>
          <h3 class="text-xl font-semibold mb-2">Contato Recebido</h3>
        </div>
        <h3>Obrigado pelo seu contato</h3>
        <p>Sua mensagem foi registrada e em breve entraremos em contato.</p>
        <a class="text-brand-azul font-semibold underline" href="http://localhost:3000">Voltar para Home</a>
      </div>
    </div>
    <footer class="bg-blue-700 text-white text-center p-4 mt-8">
      <p>&copy; 2025 Eventos+. Todos os direitos reservados.</p>
    </footer>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
 